@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

:root {
  --paragraph-default-font-family: "Inter-Regular", Helvetica;
  --paragraph-default-font-size: 14px;
  --paragraph-default-font-style: normal;
  --paragraph-default-font-weight: 400;
  --paragraph-default-letter-spacing: -0.20476199686527252px;
  --paragraph-default-line-height: 22px;
  --paragraph-extra-small-font-family: "Inter-Regular", Helvetica;
  --paragraph-extra-small-font-size: 12px;
  --paragraph-extra-small-font-style: normal;
  --paragraph-extra-small-font-weight: 400;
  --paragraph-extra-small-letter-spacing: -0.20000000298023224px;
  --paragraph-extra-small-line-height: 16px;
  --x01-theme-colors01-primary-colorp-100: rgba(214, 239, 255, 1);
  --x01-theme-colors01-primary-colorp-300: rgba(52, 152, 219, 1);
  --x01-theme-colors01-primary-colorp-500: rgba(19, 73, 108, 1);
  --x01-theme-colors02-neutral-colorn-100: rgba(255, 255, 255, 1);
  --x01-theme-colors02-neutral-colorn-200: rgba(240, 241, 244, 1);
  --x01-theme-colors02-neutral-colorn-300: rgba(226, 227, 233, 1);
  --x01-theme-colors02-neutral-colorn-400: rgba(214, 216, 224, 1);
  --x01-theme-colors02-neutral-colorn-500: rgba(197, 199, 211, 1);
  --x01-theme-colors02-neutral-colorn-700: rgba(92, 95, 112, 1);
  --x01-theme-colors02-neutral-colorn-800: rgba(24, 30, 52, 1);
  --x02-semantic-colors01-dangerdanger-300: rgba(184, 20, 61, 1);
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* PAGINATION */
.container {
  padding: 0 2rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.pageLink {
  cursor: pointer;
}

/* pagination pageItem */
.pageItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* pagination page item when active */
.pageItemActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: red;
}
